*{box-sizing:border-box;user-select:none;padding:0;margin:0;border:0;outline:none;}
:root{
--text-color:rgb(0,0,100);
--first-color:rgb(240,240,100);
--second-color:rgb(140,140,0);
--li-color-bg:#FF0;
--color-highLight:#00F;
}
html.is-blue-theme{
--text-color:rgb(240,240,100);
--first-color:rgb(0,0,100);
--second-color:rgb(0,0,70);
--li-color-bg:#00F;
--color-highLight:#FF0;
}html{scroll-behavior:smooth}
article h2::before, article h2::after {content:"🎶"}
button{
  transition: translate .2s linear, box-shadow .2s linear;
  background-color: var(--second-color);
  cursor: pointer;
  font-size: 2rem;
  border-radius: 7px;
}
a {transition: color .2s linear;text-decoration: none}
a:hover { color:red }
body::-webkit-scrollbar, .nav-tp-block::-webkit-scrollbar { width: 0 }

/* Групові стилі⬇️*/
.show-menu.activated:disabled, button:disabled { background-color:rgb(80,80,80); color:black}
footer, .themes-switcher, .nav-tp-block { text-align: center }
header, article h2 { font-size: 1.75rem }
button, a { color: var(--text-color) }
footer, li { font-size: 2.5rem }
/* Групові стилі⬆️*/

body{
  transition: background-color 1s linear, color 1s linear;
  font-family: Roboto,sans-serif; font-weight: 900;
  background-color: var(--first-color); color: var(--text-color);
  text-shadow: 0 0 5px rgb(255,0,255);
  padding: .5rem 0 .5rem .5rem;
  overflow-x: hidden;
}body.noneScroll{overflow-y: hidden}

/* Блок навігації і a */
.nav-tp-block{
  transition: translate .3s linear, border-left .3s linear;
  position: fixed; top: 60px; right: 0;
  width: 29vw; height: 90vh;
  background-color: var(--second-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 5px var(--second-color);
  translate: 27.5vw 0;
  overflow-y: scroll;
  padding: 5px;
  border-left: 1.5vw solid var(--second-color);
}.nav-tp-block.activated { translate: 0; border-left: 0 solid #000}

/* Перемикач теми(синя-жовта)*/
.themes-switcher-btn{
  position: fixed; top: 5px; right: 5px;
  width: 150px; height: 50px;
}.themes-switcher-btn:hover{ box-shadow: 3px 3px 7px rgb(0,0,0); translate: 0 -3px}

/* Показати меню */
.show-menu {
  width: 150px; height: 50px;
  position: fixed; top: 5px; right: 160px;
}.show-menu:hover {box-shadow: 3px 3px 7px rgb(0,0,0); translate: 0 -3px}

/* Всі article */
article{
  scroll-margin-top: 40vh;
  margin-top: 2rem;
  border-radius: 30px;
}
article h2 {margin-bottom: 8px; }

/* Всі audio */
audio{
  height: 55px; width: 100%;
  box-shadow: 7px 7px 10px rgba(0,0,0,.55);
  border-radius: 30px;
}

/* ul і li */
ul{list-style:none }
li{
  transition: background-color .2s linear, translate .2s linear, box-shadow .2s linear;
  background-color: color-mix(in srgb,var(--li-color-bg) 40%,black);
  margin: 5px 0;
  border-radius: 10px;
}li:hover{
  background-color:var(--li-color-bg);
  translate: 0 -6px;
  box-shadow: 0 0 15px red, 0 0 20px 5px red inset;
}
/* Всі анімації
Ефект підсвічування аудіо */ @keyframes highlightFade{
  0%{background-color:var(--color-highLight)} 
  100%{background-color: transparent}
}
.highlight { animation: highlightFade 3s linear }

/* Анімація теми(верхній блок)*/ @keyframes theme-animation_top-block{
  0%{top: -100vh} 
  50%{top: -50vh} 
  100%{top: -100vh}
}
/* (Нижній блок) */ @keyframes theme-animation_bottom-block{
  0%{top: 100vh} 
  50%{top: 50vh} 
  100%{top: 100vh}
}
/* Верхній блок */
.theme-animation-TopBlock{
  position: fixed; left: 0;
  width: 100vw; height: 100vh;
  background-color: var(--second-color);
}.theme-animation-TopBlock.th-anim {animation: theme-animation_top-block 1.5s}
/* Нижній блок */
.theme-animation-BottomBlock{
  position: fixed; left: 0;
  width: 100vw; height: 100vh;
  background-color: var(--second-color);
}.theme-animation-BottomBlock.th-anim {animation: theme-animation_bottom-block 1.5s}

/* Анімація появлення */ @keyframes onLoadAnimation {
  0%{opacity: 0; translate: 0 -100%; width: 0}
  100%{opacity: 1; translate: 0; width: 70vw;}
}
.wrapper{ width: 70vw; animation: onLoadAnimation 2.5s}
/* @media */
@media(max-width: 400px) {
  header{ font-size: 0.75rem }
  article h2{ font-size: 1rem }
  a{ font-size: 1.3rem }
  audio{ width: 90vw }
  .nav-tp-block, .show-menu{
    display: none;
  }
}